@import '~bootstrap/scss/bootstrap';
body{
  backgroud-color:#DEEFF5;
}
.wrapper-div{
  border-radius:15px;
  background-color:#f7f7f7;
  width: 340px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  padding:50px;

  &__float_left{
    float:left;
  }

  &__padding_bottom{
    padding-bottom: 20px;
  }
  &__padding_top{
    padding-top:10px;
  }
  &__bold{
    font-size: 15px;
    font-weight: bold;
  }
}
